.advantages {
	min-height: 800px;
	padding-top: 47px;
}

.advantages__header {
	background-color: #ffffff;
	margin-bottom: 50px;
}

.advantages__slogan {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	color: @base-color;
	text-align: center;
}

.advantages__list {
	background-color: @base-color_gray;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 70px;
	text-align: center;
	background-image: url("../img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-position: 0 -68px;
}

.advantages__item {

}

.advantages__title {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 18px;
	color: @base-color;
	font-weight: 700;

}

.advantages__description {
	margin: 0;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
}

.advantages__photo {
	background-color: @base-color_gray;
	text-align: center;
}