.contest {
	
}

.contest__title-wrapper {
	h1 {
		min-width: 320px;
		min-height: 170px;
		background-image: url("../img/bg-back-mobile@1x.jpg");
		background-repeat: no-repeat;
		background-position: 0px -60px;
		padding: 0;
		margin: 0;
		color: #ffffff;
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		text-align: center;
		padding-top:36px;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 58px;
	}
}

.contest__description {
	margin:0;
	padding:0;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	margin-top: 50px;
	color: @base-color;
	line-height: 30px;
	text-align: center;
}

.contest__form {

}

.contest__wrapper {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

.contest__label {
	display: block;
	color: @base-color_red;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
	&--feeling {
		display: block;
		color: @base-color_red;
		text-align:center;
		line-height: 30px;
		text-transform: uppercase;
		margin-bottom: 10px;
		}
}

.contest__text {
	margin-left: 20px;
	margin-bottom: 16px;
	color: @base-color_red;
	line-height: 30px;
	text-transform: uppercase;
}

.contest__input {
	width: 100%;
	height: 59px;
	font-size: 18px;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #e5e5e5;
}

.contest__filters {
	background-color: #f2f2f2;
	border: none;
	margin: 0;
	margin-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;

}

.contest__filters-title {
	display: block;
	text-align: center;
	margin-bottom: 58px;
	color: @base-color_red;
	line-height: 18px;
	text-transform: uppercase;
}

.contest__filters-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contest__filters-item {
	margin-bottom: 35px;
	color: @base-color;
	font-size: 18px;
	line-height: 30px;
}

.contest__filters-checkbox {

}

.contest__filters-label {
	padding-left: 70px;
}

.contest__radio-legend {

}

.contest__filters-radio {

}

.contest__feeling {
	display: block;
	font-family: inherit;
	width: calc(100% - 40px);
	height: 203px;
	border: 2px solid #e5e5e5;
	font-size: 18px;
	color: @base-color;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;

}

.contest__btn {
	width: calc(100% - 40px);
	margin: 0 20px;
	margin-bottom: 44px;
	.btn();
}

.contest__legend {
	display: block;
	margin-bottom: 60px;
	color: @base-color;
	line-height: 30px;
	text-transform: uppercase;
	text-align:center;
		sup {
			color:@base-color_red;
		}
}

@media (min-width: @tablet-width) {
	.contest__title-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1{
			width: 100%;
			height: 330px;
			background-image: url("../img/bg-back-tablet@1x.jpg");
			background-repeat: no-repeat;
			background-position: center 0;
			font-size: 50px;
			line-height: 50px;
			padding-top: 80px;
			padding-bottom: 90px;

		}
	}
	.contest__description {
		display: block;
		width: 496px;
		font-size: 18px;
		padding-bottom: 80px;
		vertical-align: middle;
	}
	.contest__form {
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 75px;
	}
	.contest__wrapper {
		order: -2;
		display: flex;
		flex-direction: column;
		&--short {
			order: 0;
			border: 2px solid #e5e5e5;
			padding: 31px 60px 23px;
			margin-bottom: 50px;
		}
	}
	.contest__name {
		align-self: center;
		width: 261px;
		margin: -45px 0 30px;
		background-color: #ffffff;
		padding: 0;
		text-align: center;
		color:@base-color_red;
		text-transform: uppercase;
	}

	.contest__label {
	display: flex;
	align-items: baseline;
	&--column {
		flex-direction: column-reverse;
		}
	}

	.contest__text {
	margin:0 20px 0 0;
	&--column {
		margin: 10px 0 0 20px;
		}
	}
	.contest__input {
}

	.contest__filters {
		background-color: #ffffff;
		border: 2px solid #e5e5e5;
		&--radio {
			order: -1;
		}
		&--checkbox {
		order: 1;
	}
	}

	.contest__filters-title {
		align-items: center;
		width: 435px;
		margin: -45px 0 30px;
		background-color: #ffffff;
	}

	.contest__textarea--wrap {
		border: 2px solid #e5e5e5;
		padding: 0 60px 50px;
		order: 2;
	}

	.contest__label{
		&--feeling {
			width: 261px;
			background-color: #ffffff;
			margin: -15px 0 30px;
		}
	}

	.contest__feeling {
	width: 100%;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
}

	.contest__btn {
		width: 300px;
		}
	.contest__button {
		&--wrap {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}
	}
	.contest__legend {
		min-width: 190px;
	}
}

@media (min-width: @desktop-width) {

	.contest__description {
		width: 717px;
		padding: 0;
		padding-bottom: 75px;
		vertical-align: middle;
	}
	.contest__form {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 75px;
	}
	.contest__wrapper {
		flex-grow: 0;
		padding-right: 35px;
		&--short {
			flex-grow: 1;
		}
	}
	.contest__filters {
		&--checkbox {
			flex-grow: 1;
		}
		&--radio {
			padding-left: 35px;
			flex-grow: 0;
		}
	}
	.contest__filters-list {
		&--checkbox {
		display: flex;
		flex-wrap: wrap;
		}
	}
}

@media (max-width: 659px) {
	.contest__name {
		.visually-hidden()
	}
}