.links-application {
	min-height: 668px;
	background-color: #1d2631;
}

.links-application__img {
	position: relative;
	min-height: 396px;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-size: 320px 400px;
	img {
		position: absolute;
		left:0;
		bottom: 0;
		width: 256px;
		height: 285px;
	}
}

.links-application__about {

}


.links-application__btn {
	display: block;

	width: 280px;
	min-height: 50px;
	border: 2px solid #ffffff;
	border-radius: 50px;

	font-size: 18px;
	line-height: 18px;
	text-align: center;
	margin-top: 27px;
	margin-left: 20px;
	color: #ffffff;
	padding-top: 14px;
	box-sizing: border-box;
	}


.links-application__links {
	display: flex;
	list-style: none;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 27px;
	padding: 0;
	margin: 0;
}

.links-application__item {
	margin: 0;
	padding: 0;
	padding-top: 35px;
	padding-left: 35px;
	margin-bottom: 27px;
	a{}
}

.links-application__text {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 35px;
}




