.links-application {
	min-height: 668px;
	background-color: #1d2631;
	
}

.links-application__img {
	position: relative;
	min-height: 396px;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-size: 320px 400px;
	img {
		position: absolute;
		left:0;
		bottom: 0;
		width: 256px;
		height: 285px;
	}
}

.links-application__about {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 35px;
	padding-top: 27px;
}


.links-application__btn {
	display: block;
	width: 280px;
	min-height: 50px;
	border: 2px solid #ffffff;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	padding-top: 14px;
	}


.links-application__list {
	display: flex;
	justify-content: center;
	align-items: baseline;
	list-style: none;
	padding: 0;
	margin: 0;
	margin: 20px;
}

.links-application__item {
	margin: 0;
	padding: 0;
	margin: 0 18px;
	a{}
}

.links-application__text {
	margin: 0;
	padding: 0;
	padding-left: 25px;
	padding-right: 25px;
	color: #ffffff;
	font-weight: 300;
	text-align: center;
}




