.main-nav {

}

.main-nav__toggle {
	position:absolute;
	display: block;
	top: 30px;
	right: 30px;
}

.main-nav__wrapper {

}

.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

}

.main-nav__item {
	font-size: 18px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #485461;
	padding: 15px 20px;
	a {
		color:#ffffff;
	}
}
