.main-nav {
	margin: 0 -20px;
	background-color: @base-color;
	display: flex;
	flex-direction: column;
}

.main-nav__toggle {
	position:absolute;
	display: block;
	top: 30px;
	right: 30px;
}

.main-nav__wrapper {

}

.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

}

.main-nav__item {
	font-size: 18px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #485461;
	padding: 15px 20px;
	a {
		color:#ffffff;
	}
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
	.main-nav {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
	}
	.main-nav__wrapper {
	}
	.main-nav__list {
	width: 655px;
	display: flex;
	}

	.main-nav__item {
	padding-right: 50px;
	line-height: 18px;
	font-weight: normal;
	text-transform: none;
	border: none;
	}
	.main-nav__toggle {
		display: none;
	}
}
