.page-header {
	background-color: @base-color;
	position: relative;
}

.page-header__top {
	padding: 22px 20px;
	border-bottom: 1px solid #000000;
}

.page-header__logo {
	display: inline-block;
	vertical-align: top;
}

.page-header__logo-image {
	display: block;
}