.photo {

}

.photo__title-wrapper {
	width: 320px;
	min-height: 170px;
	h1 {
		background-image: url("../img/bg-back-mobile@1x.jpg");
		background-repeat: no-repeat;
		background-position: 0px -60px;
		margin: 0;
		color: #ffffff;
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		text-align: center;
		padding-top:36px;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 80px;
	}
}

.photo__description {
	margin:0;
	padding:0;
	margin-bottom: 58px;
	margin-top: 50px;
	color: @base-color;
	line-height: 30px;
	text-align: center;
}

.photo__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.photo__item {

}

.photo__acticle {

}

.photo__image {
	font-size: 0;
	img {
		margin-left: 20px;
	}
	&--panorama {
		margin-left: 0;
	}
}

.photo__photo-info {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: -11px;
	margin-bottom: 30px;
	background-color: @base-color_gray;
	padding-top: 25px;
	padding-left: 18px;
	padding-bottom: 26px;
	padding-right: 30px;
	box-sizing: border-box;
}

.photo__author-name {
	font-weight: bold;
	color: @base-color;
	font-style: normal;
	time {
		font-weight: lighter;
		text-transform: uppercase;
	}
}

.photo__datetime {
	padding: 0;
}

.photo__blockquote {
	margin: 0;
	padding: 0;
}

.photo__text {
	margin: 0;
	padding: 0;
	color: @base-color;
	margin-bottom: 8px;
}

.photo__like {
	font-size: 12px;
	border: none;
	background-color: @base-color_gray;
	color: @base-color_red;
	text-transform: uppercase;
	span {font-weight: lighter;}
}

.photo__counter {

}

.photo__post-photo {

}

.photo__post-title {
	margin: 0;
	padding: 0; 
	color: @base-color;
	line-height: 30px;
	text-align: center;
}

.photo__post-form {
	margin-top: 50px;
	margin-bottom: 40px;
	padding-bottom: 40px;
	background-color: @base-color_gray;
}

.photo__post-image {
	padding-top: 20px;
	padding-left: 18px;
	margin-bottom: 40px;
}

.photo__filter-post {

}

.photo__filter-input {

}

.photo__filter-control {

}

.photo__filter-label {

	svg {fill:#b5b9be;}
}

.photo__filter-range {
	margin-top: 40px;

}

.photo__input {

}

.photo__button {
	padding-left: 20px;
	padding-right: 20px;
}

.photo__button-checked {
	.photo-button();
	border: 2px solid @base-color_red;
	color: @base-color_red;
	margin-bottom: 10px;
	}

.photo__button-disabled {
	.photo-button();
	border: 2px solid #dddfe0;
	color: #dddfe0;
	}

