.rates {

}

.rates__wrapper {
	padding-top: 75px;
	background-color: @base-color_gray;
	background-image: 
	url("../img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-position: 0 -68px;
}

.rates__list {
	padding: 0 20px;
	overflow: hidden;
}

.rates__table {
	width: 300%;
	margin-bottom: 40px;
	margin-left: -100%;
}

.rates__table-title th{
	width: 33.333333%;
	min-height: 100px;
	background-color: @base-color;
	color:#ffffff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 80px;
	padding-right: 80px;
	span {
		font-size: 24px;
		font-weight: 300;
	}
}

.rates__table-line td{

	width: 280px;
	min-height: 59px;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 22px;
	padding-right: 17px;
	color: @base-color;
	background-color: #ffffff;
	line-height: 30px;
	text-transform: uppercase;
	svg {
		width: 31px;
		height: 21px;
		fill: #86db8a;
	}
}

.rates__toggles {
	margin: 0;
	text-align: center;
	padding-bottom: 48px;
}