.rates {
	padding-top: 75px;
	padding-bottom: 48px;
	background-color: @base-color_gray;
	background-image: 
	url("../img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-position: 0 -68px;
}

.rates__wrapper {

}

.rates__list {
	padding: 0 20px;
	margin: 0 -20px;
	overflow: hidden;
	margin-bottom: 40px;
}

.rates__table {
	width: 300%;
	margin-left: -100%;
}

.rates__table-title th{
	width: 33.333333%;
	background-color: @base-color;
	color:#ffffff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 26px;
	padding-bottom: 26px;
	span {
		display: block;
		font-size: 24px;
		font-weight: 300;
	}
}

.rates__table-line td{
	width: 280px;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 22px;
	padding-right: 17px;
	color: @base-color;
	background-color: #ffffff;
	line-height: 30px;
	text-transform: uppercase;
	svg {
		width: 31px;
		height: 21px;
	}
}

.rates__toggles {
	margin: 0;
	text-align: center;
}

@media (max-width: 659px) {
	.rates__first-column {
		.visually-hidden()
	}
}

@media (min-width: @tablet-width) {
	.rates {
		background-size: 100%;
		background-position: -10px 0;
	}
	.rates__table {
		width: 100%;
		margin-left: 0;
		margin-bottom: 70px;
	}
	.rates__table-title th{
		width: 20%;

	}
	.rates__table-line {
		td {
			width: 20%;
			font-size: 0;
			&:not(.rates__first-column) {
				text-align: center;
			}
		}
	}
	.rates__first-column{
		padding: 15px;
		padding-right: 0;
		text-align: left;
		span {
			font-size: 14px;
			line-height: 30px;
			color: @base-color;
			text-transform: none;
			text-align: left;
		}
	}
	.rates__toggles {
		.visually-hidden()
	}
}
@media (min-width: @desktop-width) {

}


