.social {

}

.social__list {
  margin: -2px 0 0 0px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  list-style: none;
  margin: 0 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #e9ebec;
  fill: @base-color_red;
  &:hover {
    border: 3px solid #000000;
  }
  &:active {
    opacity: 0.9;
  }

  &--twitter {}

  &--facebook {}

  &--youtube {}
}

@media (min-width: @tablet-width) {
  .social__list {
    margin: 0;
  }
}

