@media (max-width: 659px) {
	.timer {
		.visually-hidden();
	}
}

@media (min-width: @tablet-width) {
	.timer {
		margin-bottom: 49px;
	}
	.timer__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.timer__image {
		width: 50%;
		max-width: 310px;
		flex-shrink: 0;
		text-align: left;
		img {
			fill: #dedede;
		}
	}
	.timer__description {
		width: 50%;
		padding-right: 10px;
	}
	.timer__title {
		margin: 0;
		font-size: 30px;
		line-height: 36px;
		padding: 0 0 10px 0px;
		text-align: left;
	}
	.timer__text {
		margin: 0;
		padding: 0 0 8px 0px;
		text-align: left;
		color: @base-color;
	}
	.timer__link {
		padding: 0;
		text-align: left;
		color: @base-color_red;
		text-decoration: underline;
	}
}
@media (min-width: @desktop-width) {
	.timer {
		background-color: #f2f2f2;
		padding: 40px 0 65px 0;
		margin-bottom: 75px;
	}
	.timer__wrapper {
		margin: 0 auto;
	}
	.timer__description {
		width: 574px;
		padding: 0px 50px 0px 0;
	}
	.timer__title {
		padding: 64px 0 20px 0;
	}
	.timer__text {
		font-size: 18px;
		line-height: 30px;
		padding: 0 0 35px 0;
	}
	.timer__link {
		font-size: 18px;
		line-height: 30px;
	}
	.timer__image {
		max-width: 370px;
		img{
			width: 298px;
			height: 345px;
		}
	}
}
@media (min-width: 959px) {
	.timer__title {
		br {
			display: none;
		}
}
}

