.btn() {
	font-family:inherit;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color:#ffffff;
	background-color: @base-color_btn;
	border: none;
}

.list-reset() {
	list-style: none;
}

.center() {
	text-align: center;
}

.photo-button() {
		margin-left: 20px;
		font: inherit;
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		width: 280px;
		min-height: 56px;
		border-radius: 50px;
		background-color: @base-color_gray;
}